@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-oswald), ui-sans-serif, system-ui, sans-serif;
  --color-virtus-yellow: #F7A211;
  --color-virtus-blue: #1F325A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes sponsorRotate {
  0%, 16.66% {
    opacity: 1;
    transform: translateY(0);
  }
  16.67%, 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-sponsor-rotate > div:nth-child(1) {
  animation: sponsorRotate 60s infinite;
  animation-delay: 0s;
}
.animate-sponsor-rotate > div:nth-child(2) {
  animation: sponsorRotate 60s infinite;
  animation-delay: 10s;
}
.animate-sponsor-rotate > div:nth-child(3) {
  animation: sponsorRotate 60s infinite;
  animation-delay: 20s;
}
.animate-sponsor-rotate > div:nth-child(4) {
  animation: sponsorRotate 60s infinite;
  animation-delay: 30s;
}
.animate-sponsor-rotate > div:nth-child(5) {
  animation: sponsorRotate 60s infinite;
  animation-delay: 40s;
}
.animate-sponsor-rotate > div:nth-child(6) {
  animation: sponsorRotate 60s infinite;
  animation-delay: 50s;
}